name: Test and Build Package
on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [master, main ]

jobs:
  tests:
    name: Test on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - name: Checkout repository ${{ github.repository }}
        uses: actions/checkout@v5

      - name: Setup uv and python
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          version: "0.9.15"

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests
