name: Test Build Publish Package
on:
  push:
    branches: [ master, main ]

jobs:
  tests:
    name: Test on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - name: Checkout repository ${{ github.repository }}
        uses: actions/checkout@v5

      - name: Setup uv and python
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          version: "0.9.15"

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests

  build:
    name: Build distribution
    runs-on: ubuntu-latest
    needs: tests

    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up uv and Python
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: "0.9.15"

      - name: Build package (wheel and sdist)
        run: uv build

      - name: Publish to PyPI
        run: uv publish
